WlsAuthenticationTest/src/wsdl/localhost_7001/WLS-AUTHENTICATION-USER/TestWsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><xsd:schema xmlns:ns0="http://user.authentication.wls.test.beto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://user.authentication.wls.test.beto.com/"><xsd:complexType name="test"/><xsd:complexType name="testResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="test" type="ns0:test"/><xsd:element name="testResponse" type="ns0:testResponse"/></xsd:schema>