JAX-WS-BASIC-AUTH-TEST/src/wsdl/localhost_7001/JAX-WS-BASIC-AUTHENTICATION-1.0-SNAPSHOT/WsAuthImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><xsd:schema xmlns:ns0="http://authentication.basic.ws.jax.test.beto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://authentication.basic.ws.jax.test.beto.com/"><xsd:complexType name="authTestResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="authTest"/><xsd:element name="authTestResponse" type="ns0:authTestResponse"/><xsd:element name="authTest" type="ns0:authTest"/></xsd:schema>