SESSION-MANAGEMENT-CLIENT/src/wsdl/localhost_7001/SESSION-MANAGEMENT/TestService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><xsd:schema xmlns:ns0="http://test.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test.org/wsdl"><xsd:complexType name="printSessionInfoResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="printSessionInfo"/><xsd:element name="printSessionInfoResponse" type="ns0:printSessionInfoResponse"/><xsd:element name="printSessionInfo" type="ns0:printSessionInfo"/></xsd:schema>